node_modules/
cap-backend/node_modules/
cap-backend/app/frontend/node_modules/
cap-backend/app/dist/
cap-backend/app/approuter/resources/*
!cap-backend/app/approuter/resources/.gitkeep
!cap-backend/app/approuter/resources/assets/
!cap-backend/app/approuter/resources/assets/.gitkeep
cap-backend/gen/
cap-backend/coverage/
cap-backend/db/*.db
cap-backend/db/*.sqlite
cap-backend/db/*.sqlite3
cap-backend/uploads/
cap-backend/.env
*.log
npm-debug.log*
structure.txt
0_ressources/
